{% extends "base.html" %}

{% load static %}

{% block content %}

<!--Contenido de pagina-->
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4"><!--
              <span class="section-heading-lower">Compromiso total</span>-->
              <span class="section-heading-upper">Horario.</span>
            </h2>
            <p class="mb-0">Lun - Sab. 9:00 a.m. a 6:00 p.m</p>
            <p class="mb-0">Dom. 9:00 a.m. a 12:00 p.m</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}