{% extends "base.html" %}

{% load static %}

{% block content %}

<!--Contenido de pagina-->
    {% for servicio in servicios %}
       <!--
            <div><p>
            <h2 style="color: white;">{{servicio.titulo}}</h2>
            <p style="color: white;">{{servicio.contenido}}</p>

            <p><img src="{{servicio.imagen.url}}" width="300" height="250"></p>
            servicio.imagen.url, agregando url, se logra cargar imagen, esto es como grabar o llamar desde la carpeta en la
            que esta la imagen gardada

            <p style="color: white;">${{servicio.costo}}</p>
        </p></div>
    -->

           <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">{{servicio.titulo}}</span>
            <span class="section-heading-upper">{{servicio.contenido}}</span>
            <span class="section-heading-upper">${{servicio.costo}}</span>
          </h2>
          <!--<p class="mb-0">Limpieza Facial y Corporal</p> -->
         
        </div>
      </div>
    </div>
  </section>
    {% endfor %}

{% endblock %}